$pink-light: #e05f84;
$grey-light: #f6f6f6;
$grey-dark: #cbc3c3;
$grey-darker: #a0989c;
$blue-dark: #000222;
$blue-light: #343d63;
$blue-white: #7c8197;

$pink-dark: #ae4570;

$border: flux(3px, 5px) solid;
$border-angle: 8px solid;

$angle-bottom-height: calc(2.5vw + 10px);

.pink-text {
  color: #e583a2;
}
.grey-light-text {
  color: #aaa7a7;
}
.grey-dark-text {
  color: #847979;
}
.blue-text {
  color: #4a519e;
}

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: white;
  color: #131120;
  font-family: 'Greycliff';
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.mission__shape--middle,
.mission__shape--bottom,
.we__shape--middle,
.we__shape--bottom,
.portfolio__shape--middle,
.portfolio__shape--bottom {
  box-shadow: 0 50px 100px rgba(0,0,0,.35);
}

h1 {
  font-size: flux(16px, 40px, 320px, 900px);
  line-height: 1.3;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .3rem;
  margin: 0;

  @media (min-width: 900px) {
    font-size: flux(20px, 40px, 900px, 1920px);
  }
}

h4 {
  font-size: flux(14px, 18px);
  text-transform: uppercase;
  letter-spacing: .2rem;
}

h5 {
  font-size: flux(100px, 220px, 320px, 900px);
  font-family: 'Source Sans Pro';
  font-weight: 300;
  letter-spacing: .3rem;
  margin: 0;

  @media (min-width: 900px) {
    font-size: flux(90px, 220px, 900px, 1920px);
  }
}

p {
  font-weight: 400;
  font-size: flux(20px, 24px);
  line-height: 1.8;
}

.logo {
  position: fixed;
  
  top: flux(30px, 80px);
  width: 60vw;
  max-width: 400px;
  left: 10vw;

  @media (min-width: 900px) {
    text-align: center;
    width: 20vw;
    left: auto;
  }
  svg {
    width: 60%;
  }
}

.menu {
  position: fixed;
  top: flux(30px, 80px);
  left: 40%;
  width: 20%;
}

.menu__item {
  display: none;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: flux(12px, 24px);
  font-weight: 600;
  letter-spacing: .12rem;
  text-transform: uppercase;
  cursor: pointer;

  @media (min-width: 900px) {
    display: flex;
  }

  a {
    color: $blue-dark;
    text-decoration: none;
    transition: .1s;
  }
  
  span {
    position: relative;
    font-family: 'Source Sans Pro';
    font-weight: 500;
    margin-right: flux(30px, 70px);

    &:after {
      content: '';
      position: absolute;
      left: flux(20px, 25px);
      bottom: flux(5px, 9px);
      border-bottom: 3px solid;
      width: flux(30px, 55px);
      transform-origin: 0 0;
      transform: scaleX(0);
      transition: .1s ease-out;
    }
  }

  &:hover {
    &:first-of-type {
      a {
        color: #e583a2;
      }
    }
    &:nth-of-type(2) {
      a {
        color: #aaa7a7;
      }
    }
    &:nth-of-type(3) {
      a {
        color: #4a519e;
      }
    }
    &:nth-of-type(4) {
      a {
        color: #847979;
      }
    }

    span {

      &:after {
        transform: scaleX(1);
      }
    }
  }
}

.menu__collapsed {
  position: fixed;
  left: calc(50% - 37px);
  top: flux(25px, 72px);
  color: $pink-light;
  background: $pink-dark;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: .2s ease-out;
  cursor: pointer;

  svg {
    margin-top: -4px;
    transition: .4s ease-out;

    rect {
      fill: $pink-light;
      transform: scaleX(0);
      transition: .4s ease-out;

      &:nth-of-type(2) {
        transition-delay: .1s;
      }
      &:nth-of-type(3) {
        transition-delay: .2s;
      }
      &:nth-of-type(4) {
        transition-delay: .3s;
      }
    }
  }
}

.mission {
  position: relative;
  width: 90vw;
  margin-left: 10vw;
  color: white;
  z-index: 4;
  pointer-events: none;
  transform: translateX(100%);
  animation: right-section-slide 1s ease-out forwards;
  padding-bottom: 100px;

  @media (min-width: 900px) {
    width: 60vw;
    margin-left: 40vw;
  }
}

.mission__top {
  position: relative;
  overflow: hidden;
  background: $pink-dark;
  height: flux(240px, 520px);
  width: 100%;
  transform-origin: 0 100%;
  transform: skewX(-56.7deg);
  z-index: 1;

  svg {
    line {
      stroke-width: 8px;
      stroke: $pink-light;
      transition-duration: 1s;
      opacity: 0;
    }
  }
}

.mission__middle {
  position: relative;
  display: grid;
  grid-template-rows: 45vw 45vw 45vw 20vw;
  grid-template-columns: 45vw 45vw;
  flex-wrap: wrap;
  padding-bottom: 18px;

  @media (min-width: 900px) {
    grid-template-columns: 20vw 40vw;
    grid-template-rows: 20vw 20vw flux(200px, 400px);
  }

  .mission__shapes {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%);
    transform-origin: 0 0;
    transform: skewY(-33deg);
    
    .mission__shape--middle {
      background: $pink-light;
      border-bottom: 5px solid $pink-dark;
      border-left: $border $pink-dark;
      display: grid;
      grid-template-rows: 45vw 45vw 45vw 20vw;
      grid-template-columns: 45vw 45vw;

      @media (min-width: 900px) {
        grid-template-columns: 20vw 40vw;
        grid-template-rows: 20vw 20vw 20vw;
      }

      .border {
        grid-row: 1 / 4;
        grid-column: 1 / 2;
        border-right: $border $pink-dark;
        display: none;

        @media (min-width: 900px) {
          display: block;
        }
      }
    }

    .mission__shape--bottom {
      width: 100%;
      height: $angle-bottom-height;
      border-bottom: none;
      transform-origin: 0 0;
      transform: skewX(37.6deg);

      .js-bottom-edge {
        width: 100%;
        height: 100%;
        background: $pink-dark;
        transform-origin: 0 0;
      }
    }
  }
}

.mission__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-bottom: $border $pink-dark;
  border-right: $border $pink-dark;
  border-top: $border $pink-dark;

  @media (min-width: 900px) {
    border-right: none; 
  }
}

.mission__text {
  position: relative;
  padding: 25px;
  order: 3;
  grid-column: 1 / 3;

  @media (min-width: 900px) {
    border-top: $border $pink-dark;
    padding: 5vw 10vw 0 5vw;
    flex-basis: calc(40vw - 4px);
    order: 0;
    grid-column: 2 / 4;
  }
}

.mission__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: $pink-dark;
  border-bottom: $border $pink-dark;
  border-top: $border $pink-dark;
  
  @media (min-width: 900px) {
    border-top: none;
    border-bottom: none;
  }
}


.we {
  position: relative;
  width: 90vw;
  color: $blue-dark;
  margin-top: -70vw;
  z-index: 3;
  transform: translateX(-100%);
  animation: left-section-slide 1s ease-out forwards;
  padding-bottom: 100px;

  @media (min-width: 900px) {
    width: 60vw;
    margin-top: flux(-610px, -1252px);
  }
}

.we__top {
  position: relative;
  background: $grey-light;
  height: flux(300px, 740px);
  width: 100%;
  transform-origin: 100% 100%;
  transform: skewX(56.7deg);
  border-bottom: $border $grey-dark;
  z-index: 1;
  background: repeating-linear-gradient(
    90deg,
    $grey-light,
    $grey-light flux(5px, 9px),
    $grey-dark flux(5px, 9px),
    $grey-dark flux(10px, 16px)
  );
}

.we__middle {
  position: relative;
  display: grid;
  grid-template-rows: 45vw 80vw 20vw 65vw 65vw;
  grid-template-columns: 45vw 45vw;
  flex-wrap: wrap;
  border-bottom: 0;
  padding-bottom: 38px;

  @media (min-width: 900px) {
    grid-template-rows: 20vw 30vw 20vw 20vw;
    grid-template-columns: 20vw 20vw 20vw;
  }

  .we__shapes {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%);
    transform-origin: 100% 100%;
    transform: skewY(33deg);
    
    .we__shape--middle {
      background: $grey-light;
      border-bottom: $border $grey-dark;
      border-right: $border $grey-dark;
      display: grid;
      grid-template-rows: 45vw 80vw 20vw 65vw 65vw;
      grid-template-columns: 45vw 45vw;

      @media (min-width: 900px) {
        grid-template-rows: 20vw 30vw 20vw 20vw;
        grid-template-columns: 20vw 20vw 20vw;
      }

      .border:first-of-type {
        
      
        @media (min-width: 900px) {
          grid-column: 1 / 2;
          border-right: $border $grey-dark;
          grid-row: 1 / 5;
        }
      }
      .border:last-of-type {
        @media (min-width: 900px) {
          grid-row: 1 / 5;
          grid-column: 2 / 3;
          border-right: $border $grey-dark;
        }
      }
    }

    .we__shape--bottom {
      width: 100%;
      height: $angle-bottom-height;
      border-bottom: none;
      transform-origin: 0 0;
      transform: skewX(-37.6deg);

      .js-bottom-edge {
        width: 100%;
        height: 100%;
        background: $grey-dark;
        transform-origin: 0 0;
      }
    }
  }
}

.we__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: $border $grey-dark;
  border-left: $border $grey-dark;
  @media (min-width: 900px) {
    border-left: 0;
  }
}

.we__text {
  position: relative;
  padding: 20px;
  grid-row: 4;
  grid-column: 1 / 3;
  border-top: $border $grey-dark;
  @media (min-width: 900px) {
    padding: 2.5vw;
    grid-column: 3;
    grid-row: 3;
    margin-top: -17vw;
  }
}

.we__texture {
  display: none;
  grid-column: 3;
  grid-row: 1;
  z-index: 1;
  transform-origin: 0 0;
  transform: skewY(33deg);
  border-right: $border $grey-dark;
  background: repeating-linear-gradient(
    0deg,
    $grey-dark,
    $grey-dark flux(3px, 5px),
    $grey-light flux(3px, 5px),
    $grey-light flux(6px, 10px)
  );

  @media (min-width: 900px) {
    display: block;
  }
}

.we__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20vw;
  color: $grey-dark;
  border-bottom: $border $grey-dark;
}

.we__person {
  position: relative;
  flex-basis: 20vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  
  a {
    color: $blue-dark;
    text-decoration: none;
  }

  .br {
    @media (min-width: 900px) {
      display: none;
    }
  }
}

.we__person--ryan {
  grid-row: 2 / 4;
  grid-column: 2;
  border-left: $border $grey-dark;
  @media (min-width: 900px) {
    border-left: none;
    grid-row: auto;
    grid-column: auto;
  }
}

.we__person--dave {
  grid-row: 2 / 4;
  grid-column: 1;
  @media (min-width: 900px) {
    grid-row: auto;
    grid-column: auto;
  }
}

.we__photo {
  position: relative;
  width: 100%;
  height: 45vw;
  margin-top: 2.5vw;
  transition: .15s ease-out transform;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 0%;
  }

  @media (min-width: 900px) {
    width: 15vw;
    height: 20vw;
  }

  .we__photoEdges {
    position: absolute;
    left: 0;
    top: 0; 
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 100%;
      transform-origin: 100% 0;
      transform: translateX(-100%) skewY(-45deg) scaleX(0);
      background: $grey-darker;
      transition: .15s ease-out transform;
    }

    &:after {
      bottom: 0;
      top: auto;
      width: 100%;
      height: 20px;
      transform-origin: 100% 0;
      transform: translateY(100%) skewX(-45deg) scaleY(0);
    }
  }
  &:hover {
    transform: translate(20px, -20px);

    .we__photoEdges {
      &:before {
        transform: translateX(-100%) skewY(-45deg) scaleX(1);
      } 
      &:after {
        transform: translateY(100%) skewX(-45deg) scaleY(1);
      }
    }
  }
}

.portfolio {
  position: relative;
  width: 90vw;
  margin-left: 10vw;
  color: white;
  z-index: 2;
  margin-top: -80vw;
  padding-bottom: 100px;

  @media (min-width: 900px) {
    margin-top: flux(-520px, -1300px);
    width: 60vw;
    margin-left: 40vw;
  }
}

.portfolio__top {
  position: relative;
  z-index: 1;
  height: flux(340px,750px);
  width: 100%;
  transform-origin: 0 100%;
  transform: skewX(-56.7deg);
  border-bottom: $border $blue-light;
  background: repeating-linear-gradient(
    90deg,
    $blue-light,
    $blue-light flux(5px, 9px),
    $blue-dark flux(5px, 9px),
    $blue-dark flux(10px, 16px)
  );
}

.portfolio__texture {
  display: none;
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  transform-origin: 100% 0;
  transform: skewY(-33deg);
  border-left: $border $blue-light;
  background: repeating-linear-gradient(
    0deg,
    $blue-light,
    $blue-light 5px,
    $blue-dark 5px,
    $blue-dark 10px
  );

  @media (min-width: 900px) {
    display: block;
  }
}

.portfolio__middle {
  position: relative;
  display: grid;

  .portfolio__shapes {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100%);
    transform-origin: 0 0;
    transform: skewY(-33deg);
    
    .portfolio__shape--middle {
      background: $blue-dark;
      border-bottom: $border $blue-light;
      border-left: $border $blue-light;

      .border:first-of-type {
        grid-row: 1 / -1;
        grid-column: 1 / 2;
        border-right: $border $blue-light;
      }
      .border:last-of-type {
        grid-row: 1 / -1;
        grid-column: 2 / 3;
        border-right: $border $blue-light;
        display: none;

        @media (min-width: 900px) {
          display: block;
        }
      }
    }

    .portfolio__shape--bottom {
      width: 100%;
      height: $angle-bottom-height;
      border-bottom: none;
      transform-origin: 0 0;
      transform: skewX(37.6deg);

      .js-bottom-edge {
        width: 100%;
        height: 100%;
        background: $blue-light;
        transform-origin: 0 0;
      }
    }
  }
}

.portfolio__title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1;
  grid-column: 2;
  
  @media (min-width: 900px) {
    border-top: $border $blue-light;
    grid-row: auto;
    grid-column: auto;
  }
}

.portfolio__logos {
  grid-row: 2;

  @media (min-width: 900px) {
    grid-row: 3;
    grid-column: 1 / 4;
  }
}

.portfolio__grid {
  display: grid;
  grid-template-rows: 65vw 65vw 65vw 65vw 65vw 65vw 65vw;
  grid-template-columns: 45vw 45vw;

  @media (min-width: 900px) {
    grid-row: 3;
    grid-column: 1 / 4;
    grid-template-rows: 20vw 20vw 20vw 20vw 20vw 20vw 20vw;
    grid-template-columns: 20vw 20vw 20vw;
  }
}

.portfolio__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 24px;
  border-top: $border $blue-light;
  margin-top: flux(-3px, -5px);
  
  p {
    font-size: flux(14px, 18px);
    line-height: 1.3;
    font-weight: 300;
    color: $blue-white;
  }

  img {
    width: 90%;
    height: 60px;
    object-fit: contain;
    flex-shrink: 0;

    @media (min-width: 900px) {
      width: 62%;
      height: flux(40px, 100px);
    }
  }

  &:nth-last-child(-n+2) {
    border-bottom: $border $blue-light;
  }
  @media (min-width: 900px) {
    &:nth-last-child(-n+2) {
      border-bottom: none;
    }
    &:nth-last-child(-n+3) {
      border-bottom: $border $blue-light;
    }
  }
}

.portfolio__number {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20vw;
  color: $blue-light; 
}


.contact {
  position: relative;
  width: 100vw;
  color: $blue-dark;
  z-index: 1;
  margin-top: flux(-550px, -800px);
  overflow: hidden;

  @media (min-width: 900px) {
    margin-top: flux(-260px, -790px);
  }
}

.contact__top {
  background: $grey-dark;
  position: relative;
  height: flux(550px,950px);
  width: 100%;
  transform-origin: 0 100%;
  transform: skewX(-57deg);
  border-bottom: $border $grey-darker;

  background: repeating-linear-gradient(
    90deg,
    $grey-darker,
    $grey-darker flux(5px, 9px),
    $grey-dark flux(5px, 9px),
    $grey-dark flux(10px, 16px)
  );
}

.contact__middle {
  margin-top: -1px;
  position: relative;
  display: grid;
  grid-template-rows: 25vw 25vw 25vw;
  grid-template-columns: 50vw 50vw;
  flex-wrap: wrap;
  border-bottom: 0;
  background: $grey-dark;

  @media (min-width: 900px) {
    grid-template-rows: 10vw 10vw;
    grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  }

  a {
    position: relative;
    color: $blue-dark;

    .contact__face {
      width: 100%;
      height: 100%;
      background: $grey-dark;
      display: flex;
      justify-content: center;
      align-items: center;
      border-top: $border $grey-darker;
      
      @media (min-width: 900px) {
        border: $border $grey-darker;
      }
    }

    .contact__edge {
      z-index: -1;
    }
  }

  a:hover {
    .contact__bg {
      background: $grey-light;
    }
  }
}

.contact__title {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 1 / 3;
  @media (min-width: 900px) {
    border-left: $border $grey-darker;
  }
}


.contact__email {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $grey-dark;
  transition: .15s ease-out transform; 

  @media (min-width: 900px) {
    grid-row: 2;
    grid-column: 3;
  }

  .contact__edges {
    position: absolute;
    right: 0;
    top: 0; 
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    &:before,
    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 30px;
      height: 100%;
      transform-origin: 0 0;
      transform: translateX(100%) skewY(45deg) scaleX(0);
      background: $grey-darker;
      transition: .15s ease-out transform;
    }

    &:after {
      bottom: 0;
      top: auto;
      width: 100%;
      height: 30px;
      transform-origin: 100% 0;
      transform: translateY(100%) skewX(45deg) scaleY(0);
    }
  }

  &:hover {
    transform: translate(-30px, -30px);

    .contact__edges {
      &:before {
        transform: translateX(100%) skewY(45deg) scaleX(1);
      } 
      &:after {
        transform: translateY(100%) skewX(45deg) scaleY(1);
      }
    }
  }
}

.contact__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (min-width: 900px) {
    margin-top: -4px;
    margin-bottom: -4px;
  }
}

.contact__icon {
  width: calc(50% + 2px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .15s ease-out transform;
  border-right: $border $grey-darker;
  @media (min-width: 900px) {
    border: none;
  } 
  
  .contact__edges {
    position: absolute;
    right: 0;
    top: 0; 
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 30px;
      height: 100%;
      transform-origin: 100% 0;
      transform: translateX(-100%) skewY(-45deg) scaleX(0);
      background: $grey-darker;
      transition: .15s ease-out transform;
    }

    &:after {
      bottom: 0;
      top: auto;
      width: 100%;
      height: 30px;
      transform-origin: 100% 0;
      transform: translateY(100%) skewX(-45deg) scaleY(0);
    }
  }
  
  &:hover {
    .contact__edges {
      &:before {
        transform: translateX(-100%) skewY(-45deg) scaleX(1);
      } 
      &:after {
        transform: translateY(100%) skewX(-45deg) scaleY(1);
      }
    }
  }

  &:first-of-type {
    @media (min-width: 900px) {
      margin-right: -2px;
    }
    
    .contact__edges {
      &:before,
      &:after {
        left: auto;
        right: 0;
        transform-origin: 0 0;
        transform: translateX(100%) skewY(45deg) scaleX(0);
        background: $grey-darker;
        transition: .15s ease-out transform;
      }

      &:after {
        transform-origin: 100% 0;
        transform: translateY(100%) skewX(45deg) scaleY(0);
      }
    }
    &:hover {
      transform: translate(-30px, -30px);

      .contact__edges {
        &:before {
          transform: translateX(100%) skewY(45deg) scaleX(1);
        } 
        &:after {
          transform: translateY(100%) skewX(45deg) scaleY(1);
        }
      }
    }
  }
  &:last-of-type {
    @media (min-width: 900px) {
      margin-left: -2px;
    }

    &:hover {
      transform: translate(30px, -30px);
    }
  }

  svg {
    width: flux(20px, 30px);
    fill: $blue-dark;

    &:first-of-type {
      width: flux(23px, 34px);
    }
  }
}

.contact__number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20vw;
  color: $grey-darker;
  grid-row: 1 / 3;
  border-right: $border $grey-darker;

  @media (min-width: 900px) {
    border-right: none;
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1) !important;
  } 50% {
    transform: scaleX(0) !important;
  } 100% {
    transform: scaleX(1) !important;
  }
}

.is-menu-collapsed {
  .menu__collapsed {
    transform-origin: 0 50%;
    transform: scale(1);

    svg rect {
      transform: scaleX(1);
    }

    &:hover {
      transform: translateY(-2px);

      svg rect {
        transform: none;
        animation: flip .2s ease-out !important;
      }
    }
  }

  .mission {
    pointer-events: auto;
  }

  &.is-menu-we {
    .menu__collapsed {
      background: $grey-dark;
      
      svg rect {
        fill: $grey-light;
      }
    }
  }

  &.is-menu-portfolio {
    .menu__collapsed {
      background: $blue-light;
      
      svg rect {
        fill: $blue-dark;
      }
    }
  }
}

@keyframes right-section-slide {
  0% {
    transform: translateX(100%) translateY(-43%);
  } 100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes left-section-slide {
  0% {
    transform: translateX(-100%) translateY(-33%);
  } 100% {
    transform: translateX(0) translateY(0);
  }
}